<!DOCTYPE html>
<html>
<head> 
  <title> Chack Printing </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/print.css">
   <script>  {{{alert}}} </script>
</head>
<body>

{{{data}}}

     <script src="js/print.js"></script>
</Body>
</html>