body {
    margin: 0;
    padding: 0;
}

.outside1 {
    border: 1px solid rgb(255, 255, 255);
    width: 856px;
    height: 344px;
    position: relative;
}

.outside {
    border: 1px solid rgb(255, 255, 255);
    width: 856px;
    height: 363px;
    position: relative;
}
.outside1 .date{
  position: absolute;
  top: 67px;
  right:35px;
  width: 110px;

}
.outside1 .payTo{
  position: absolute;
  top: 113px;
  left: 90px;
  width: 500px;
}
.outside1 .amountWrith{
  position: absolute;
  top: 148px;
  left: 85px;
  width: 500px;
}
.outside1 .amount{
  position: absolute;
  top: 113px;
  right: 35px;
  width: 110px;
}
.outside1 .memo{
  position: absolute;
  top: 197px;
  left: 50px;
  width: 250px;
  max-height: 200px;
}

.outside .date{
position: absolute;
top:89px;
right:35px;
width: 110px;

}
.outside .payTo{
position: absolute;
top: 126px;
left: 90px;
width: 500px;
}
.outside .amountWrith{
position: absolute;
top: 164px;
left: 85px;
width: 500px;
}
.outside .amount{
position: absolute;
top: 135px;
right: 35px;
width: 110px;
}
.outside .memo{
position: absolute;
top: 213px;
left: 50px;
width: 250px;
max-height: 200px;
}

.fill{
    height: 33px;
    border-bottom: 1px solid black;
}

.outsideReport{
  margin: 25px;
}

.row {
  width: 760px;
  margin: 1px;
}

.row:nth-child(even) {
  background-color: #ccc;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row p {
  width: 40px;
  float: left;
  padding: 2px 25px;
  margin: 0;
}

.row .name {
  width: 175px;
}

.row .paid {
  width: 60px;
}

.count {
  width: 30px;
}

@media print {
  body {print-color-adjust: exact; -webkit-print-color-adjust: exact;}
  }